				<!-- EVENT overall_footer_content_after -->
			</div>

		<!-- EVENT overall_footer_page_body_after -->

		<div id="page-footer" class="page-footer" role="contentinfo">
			<!-- INCLUDE navbar_footer.html -->

			<div id="darkenwrapper" class="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
				<div id="darken" class="darken">&nbsp;</div>
			</div>

			<div id="phpbb_alert" class="phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
				<a href="#" class="alert_close">
					<i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
				</a>
				<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
			</div>
			<div id="phpbb_confirm" class="phpbb_alert">
				<a href="#" class="alert_close">
					<i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
				</a>
				<div class="alert_text"></div>
			</div>
		</div>

		</div>

		<div>
			<a id="bottom" class="anchor" accesskey="z"></a>
			<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
		</div>

		<!-- Content footer bar -->
		<div id="contentFooter">
			<p>Powered by <a href="https://www.phpbb.com/">phpBB</a> //
			<a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}">{L_FAQ}</a> //
			<a href="//www.jediholo.net/about/">About Us</a> - <a href="//www.jediholo.net/about/legal/">Legal Notice</a> - <a href="//www.jediholo.net/about/legal/#privacy">Privacy Policy</a> //
			<!-- IF not S_IS_BOT -->
			<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --><a href="{U_REGISTER}">{L_REGISTER}</a> -<!-- ENDIF -->
			<a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a>
			<!-- ENDIF -->
			<!-- IF U_MCP -->- <a href="{U_MCP}">Moderation</a><!-- ENDIF -->
			<!-- IF U_ACP -->- <a href="{U_ACP}">Admin</a><!-- ENDIF -->
			</p>
		</div>

	</div>

</div>

</div>

<script src="{T_JQUERY_LINK}"></script>
<!-- IF S_ALLOW_CDN --><script>window.jQuery || document.write('\x3Cscript src="{T_ASSETS_PATH}/javascript/jquery-3.6.0.min.js?assets_version={T_ASSETS_VERSION}">\x3C/script>');</script><!-- ENDIF -->
<script src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->
<!-- IF S_ALLOW_CDN -->
	<script>
		(function($){
			var $fa_cdn = $('head').find('link[rel="stylesheet"]').first(),
				$span = $('<span class="fa" style="display:none"></span>').appendTo('body');
			if ($span.css('fontFamily') !== 'FontAwesome' ) {
				$fa_cdn.after('<link href="{T_ASSETS_PATH}/css/font-awesome.min.css" rel="stylesheet">');
				$fa_cdn.remove();
			}
			$span.remove();
		})(jQuery);
	</script>
<!-- ENDIF -->

<!-- IF S_COOKIE_NOTICE -->
	<script src="{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.js?assets_version={T_ASSETS_VERSION}"></script>
	<script>
		if (typeof window.cookieconsent === "object") {
			window.addEventListener("load", function(){
				window.cookieconsent.initialise({
					"palette": {
						"popup": {
							"background": "#0F538A"
						},
						"button": {
							"background": "#E5E5E5"
						}
					},
					"theme": "classic",
					"content": {
						"message": "{LA_COOKIE_CONSENT_MSG}",
						"dismiss": "{LA_COOKIE_CONSENT_OK}",
						"link": "{LA_COOKIE_CONSENT_INFO}",
						"href": "{UA_PRIVACY}"
					}
				});
			});
		}
	</script>
<!-- ENDIF -->

<script type="text/javascript" src="//static.jediholo.net/js/global-min.js"></script>
<script type="text/javascript">
// <![CDATA[
timezone = <!-- PHP --> $date = new DateTime('now', new DateTimeZone('America/New_York')); echo ($date->getOffset() * 1000); <!-- ENDPHP -->;
// ]]>
</script>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//services.jediholo.net/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '12']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//services.jediholo.net/piwik/piwik.php?idsite=12&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->

<!-- EVENT overall_footer_after -->

<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
{$SCRIPTS}

<!-- EVENT overall_footer_body_after -->

</body>
</html>
